body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.accent {
    color: #2e2f42;
}

.accent-footer {
    color: #4d5ae5;
}

ul {
    list-style-type: none;
}

.link-dark {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
}

.link {
    color: #2e2f42;
    text-decoration: none;
}

.link:hover,
.link:focus,
.nav-panel:hover,
.nav-panel:focus,
.accent:hover,
.accent:focus,
.link-logo:hover,
.link-logo:focus,
.link-dark:hover,
.link-dark:focus

{
    color: #404bbf;
}


button:hover, button:focus {color: #404bbf;}
.hero-image {
    background-color: #2e2f42;

}



.section-one {

    margin-top: 120px;
        margin-bottom: 120px;
        margin-left: 156px;
        margin-right: 156px;

}

.section-two {
    background: #f4f4fd;

}

.section-three {

    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 156px;
    margin-right: 156px;
}


footer {

    background-color: #2e2f42;
}

.btn {
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

#logo-white {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}


.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.contacts {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-panel {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-two > .section-two-list {color: #FFFFFF}